.contenedor-principal {
    display: flex;
    height: 100vh;
}

.lado-izquierdo,
.lado-derecho {
    flex: 1;
    overflow: hidden;
}

.lado-derecho app-portada,
.lado-izquierdo app-tab-layout {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .contenedor-principal {
      flex-direction: column;
      height: auto;
      min-height: 100vh;
    }
  
    .lado-izquierdo,
    .lado-derecho {
      flex: none;
      width: 100%;
      height: auto;
    }
}