<div class="container-fluid px-4 py-3">
  <div class="row mb-4">
    <div class="d-flex flex-column col-md-8">
      <h1 class="fw-bold mb-2 text-dark">Mis Misiones</h1>
      <p class="text-secondary mb-4 flex-grow-1">Continua tu camino para convertirte en un Guardian del Planeta.</p>

      <div class="d-flex pb-0 user-select-none">
        <a role="button" class="flex-fill text-center text-decoration-none pb-2 border-bottom border-3" [ngClass]="selectedMissionStatus === 'available' ? 'text-success fw-bold border-3 border-success' : 'text-secondary fw-medium'" (click)="changeTab('available')">
          Pendientes
        </a>
        <a role="button" class="flex-fill text-center text-decoration-none pb-2 border-bottom border-3" [ngClass]="selectedMissionStatus === 'completed' ? 'text-success fw-bold border-3 border-success' : 'text-secondary fw-medium'" (click)="changeTab('completed')">
          Completadas
        </a>
      </div>
    </div>

    <div class="col-md-4 mt-4 mt-md-0">
      <app-target-progress></app-target-progress>
    </div>
  </div>

  <section class="row g-4 justify-content-start">

    @if (selectedMissionStatus === 'available') {
      @for (mission of availableMissions; track mission.id) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-mission-card [mission]="mission" status="available" (completed)="onMissionCompleted($event)"></app-mission-card>
        </div>
      } @empty {
        <div class="col-12 text-center text-secondary py-4">
          No tienes misiones pendientes.
        </div>
      }
    }

    @if (selectedMissionStatus === 'completed') {
      @for (mission of completedMissions; track mission.id) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-mission-card [mission]="mission" status="completed"></app-mission-card>
        </div>
      } @empty {
        <div class="col-12 text-center text-secondary py-4">
          Aun no has completado ninguna mision.
        </div>
      }

      @if (completedMissions.length > 0) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-add-mission-card (clicked)="changeTab('available')"></app-add-mission-card>
        </div>
      }
    }

  </section>
</div>
