<div class="container-fluid px-4 py-3 bg-light min-vh-100">
  <!-- CONTENIDO PRINCIPAL -->
  <div class="row mb-4">
    <div class="d-flex flex-column col-md-8">
      <h3 class="h4 mb-3 text-dark fw-semibold">Mis Misiones</h3>
      <p class="text-secondary mb-4 flex-grow-1">Continúa tu camino para convertirte en un Guardián del Planeta.</p>
      
      <!-- Tabs construidos con utilidades Flex y Bordes -->
      <div class="d-flex pb-0 user-select-none">
        <a
          role="button"
          class="flex-fill text-center text-decoration-none pb-2  border-bottom border-3"
          [ngClass]="selectedMissionStatus === 'available' ? 'text-success fw-bold border-3 border-success' : 'text-secondary fw-medium'"
          (click)="changeTab('available')"
        >
          Pendientes
        </a>
        <a
          role="button"
          class="flex-fill text-center text-decoration-none pb-2  border-bottom border-3"
          [ngClass]="selectedMissionStatus === 'completed' ? 'text-success fw-bold border-3 border-success' : 'text-secondary fw-medium'"
          (click)="changeTab('completed')"
        >
          Completadas
        </a>
      </div>
    </div>
    
    <!-- Tarjeta de Progreso Nivel -->
    <div class="col-md-4 mt-4 mt-md-0">
      <app-target-progress></app-target-progress>
    </div>
  </div>

<!-- GRILLA DE MISIONES -->
  <section class="row g-4 justify-content-start">
    
    <!-- Misiones Pendientes -->
    @if (selectedMissionStatus === 'available') {
      @for (mission of availableMissions; track mission.id) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-mission-card [mission]="mission"></app-mission-card>
        </div>
      } @empty {
        <div class="col-12 text-center text-secondary py-4">
          No tienes misiones pendientes.
        </div>
      }
    }

    <!-- Misiones Completadas -->
    @if (selectedMissionStatus === 'completed') {
      @for (mission of completedMissions; track mission.id) {
        <div class="col-12 col-md-6 col-lg-4">
          <app-mission-card [mission]="mission"></app-mission-card>
        </div>
      } @empty {
        <div class="col-12 text-center text-secondary py-4">
          Aún no has completado ninguna misión.
        </div>
      }
    }

    <!-- Tarjeta de Agregar Misión (Placeholder) -->
    <div class="col-12 col-md-6 col-lg-4">
      <app-add-mission-card></app-add-mission-card>
    </div>
    
  </section>
</div>