<div class="tab-container">
    <!-- Pestaña Iniciar Sesión -->
    <button 
      class="tab-button"
      routerLink="/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Iniciar Sesión
    </button>
  
    <!-- Pestaña Registrarse -->
    <button 
      class="tab-button"
      routerLink="/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Registrarse
    </button>
</div>
<div>
  <ng-content />
</div>