<div class="auth-wrapper">
    <div class="register-card">
      @if(message){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation"></i>
          <span>{{ message }}</span>
        </div>
      }
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container"> 
        <div class="input-group">
            <i class="fa-solid fa-user input-icon"></i>
            <input type="name"  formControlName="name" placeholder="Nombre/s">
        </div>
        @if (name?.touched && name?.invalid) {
            @if (name?.errors?.['required']) {
              <small>El nombre es obligatorio</small>
            } 
        }

        <div class="input-group">
            <i class="fa-solid fa-user input-icon"></i>
            <input type="lastname"  formControlName="lastname" placeholder="Apellido/s">
        </div>
        @if (lastname?.touched && lastname?.invalid) {
            @if (lastname?.errors?.['required']) {
              <small>Los apellidos son obligatorios</small>
            } 
          }

        <div class="input-group">
          <i class="fa-solid fa-envelope input-icon"></i>
          <input type="email"  formControlName="email" placeholder="Correo electrónico">
        </div>
        @if (email?.touched && email?.invalid) {
          @if (email?.errors?.['required']) {
            <small>El correo es obligatorio</small>
          } @else if (email?.errors?.['email']) {
            <small>Formato de correo inválido</small>
          }
        }
          
        <div class="input-group">
            <i class="fa-solid fa-lock input-icon"></i>
            <input [type]="showPassword? 'text':'password'" formControlName="password" placeholder="Contraseña" >     
            <button type="button" class="show-icon fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" (click)="statePassword()"></button>         
        </div>
        @if (password?.touched && password?.invalid) {
          @if (password?.errors?.['required']) {
            <small>La contraseña es obligatoria</small>
          } @else if (password?.errors?.['minlength']) {
            <small>Mínimo 8 caracteres</small>
          } @else if (password?.errors?.['pattern']){
            <small>Debe tener 1 mayúscula, 1 minúscula y 1 número</small>
          }      
        }

        <div class="role-group">
            <p class="form-label text-uppercase">¿Cuál es tu rol?</p>
            <div class="role-selector">
                <button type="button" class="role-option" [class.active]="selectedRole === 'student'" (click)="selectRole('student')">
                    <div class="role-icon-container">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <span>Soy Estudiante</span>
                </button>
                
                <button type="button" class="role-option" [class.active]="selectedRole === 'teacher'" (click)="selectRole('teacher')">
                    <div class="role-icon-container">
                        <i class="fa-solid fa-user-gear"></i>
                    </div>
                    <span>Soy Docente</span>
                </button>
            </div>
        </div>
        
        <button class="btn-register" type="submit" [disabled]="registerForm.invalid">Crear mi Cuenta</button>
      </form>
    </div>
  </div>
