<div class="container-fluid vh-100 overflow-hidden">
  <div class="row h-100">
    <app-sidebar class="col-md-3 col-lg-2 d-none d-md-flex p-3 bg-light border-end"></app-sidebar>

    <main class="col-12 col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column h-100 bg-white">
      <app-header [title]="currentTitle"></app-header>
      
      <div class="flex-grow-1 overflow-auto px-2 pb-5 pb-md-0">
        <router-outlet></router-outlet>
      </div>
    </main>

    <app-mobile-menu></app-mobile-menu>
  </div>
</div>