<div class="container py-4">
    <div class="mb-4">
        <h2 class="fw-bold text-success">Hola, EcoExplorador!</h2>
    </div>

    <h3 class="h4 mb-3 text-dark fw-semibold">Mis Módulos</h3>

    @if (modules.length === 0) {
        <div class="alert alert-success bg-light border-success-subtle text-success-emphasis text-center py-4 rounded-4 mt-4" role="alert">
            <i class="bi bi-info-circle me-2"></i> No hay módulos disponibles en este momento.
        </div>
    } @else {
        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 1rem;">
            @for (module of modules | slice:0:2 ; track module.id) {
                <div class="col h-100">
                    <app-module-card [module]="module" />
                </div>
            }
        </div>
        @if(modules.length > 2){
            <div class="text-center mt-4">
                <a href="/modules" style="color: black;">
                    Ver más <i class="bi bi-arrow-right ms-1"></i>
                </a>
            </div>
        }
    }
</div>