<div class="auth-wrapper">
  <div class="login-card">
    <form  class="form-container"> 
      <div class="role-group">
        <p class="form-label text-uppercase">¿Cuál es tu rol?</p>
        <div class="role-selector">
          
          <!-- Opción Estudiante Activa -->
          <div class="role-option" [class.active]="selectedRole === 'estudiante'" (click)="selectRole('estudiante')">
            <div class="role-icon-container">
              <i class="fa-solid fa-user-graduate"></i>
            </div>
            <span>Soy Estudiante</span>
          </div>
          
          <!-- Opción Docente Inactiva -->
          <div class="role-option" [class.active]="selectedRole === 'docente'" (click)="selectRole('docente')">
          <div class="role-icon-container">
            <i class="fa-solid fa-user-gear"></i>
          </div>
          <span>Soy Docente</span>
        </div>
          
        </div>
      </div>

      <div class="input-group">
          <i class="fa-solid fa-envelope input-icon"></i>
        <input 
          type="email" formControlName="email" placeholder="Correo electrónico">
      </div>
        
      <div class="input-group">
        <i class="fa-solid fa-lock input-icon"></i>
        <input 
          type="password" formControlName="password" placeholder="Contraseña">
      </div>
      <button class="btn-passwd" type="button" >¿Olvidaste tu contraseña?</button>
      
      <button class="btn-login" type="submit">Acceder a mi Cuenta</button>
    </form>
  </div>
</div>